<!DOCTYPE HTML>
<html lang="en">
{% include "partials/header.html" %}
<body>
    <div id="page">
      <div id="header">
        <div class="report"><a href="/">Finde Report</a></div>
          <div class="search">
            <img src="/search_icon.svg" id="search_icon" />
	        <form id="search_field" style="display: block">
              <input id="query" name="query" type="text" placeholder="Search">
	        </form>
            <script>
              const queryString = window.location.search;
              const urlParams = new URLSearchParams(queryString);
              const query = urlParams.get('query')
              document.getElementById("query").value = query
            </script>
          </div>
        </div>
      <div id="grid">
        {% if results | length == 0 %}
        <div class="link"></div>
        <div class="link">
    	  <a href="/">
    	    <span class="title">Oops! We don't have any info on that!</span>
    	    <p>Click here to go back</p>
    	  </a>
        </div>
        {% else %}
        {% for post in results %}
        <div class="link">
        {{post}}
        </div>
        {% endfor %}
        {% endif %}
      </div>
      <div id="mobile">
        {% for post in results %}
        <div class="link">
        {{post}}
        </div>
        {% endfor %}
      </div>
      <script type="text/javascript" src="/tools.js"></script>
{% include "partials/footer.html" %}
    </div>
</body>
</html>
