<!DOCTYPE HTML>
<html lang="en">
{% include "partials/header.html" %}
<body>
    <div id="page">
      <div id="header">
        <div class="report"><a href="/query">Mibana</a></div>
          <div class="search">
	        <form id="search_field" style="display: block">
              <input id="query" name="query" type="text" placeholder="Search">
	        </form>
          </div>
          <div class="select">
            <select id="collections">
              {% for collection in collections %}
              <option value="{{collection}}">{{collection}}</option>
              {% endfor %}
            </select>
          </div>
          <script>
              const queryString = window.location.search;
              const urlParams = new URLSearchParams(queryString);
              const query = urlParams.get('query')
              const collection = urlParams.get('collection')
              document.getElementById("query").value = query
              document.getElementById("collections").value = collection

              function myFunction(x) {
                  x.classList.toggle("change");
              }
          </script>
        </div>
      <div id="grid">
        {% if results | length == 0 %}
        {% else %}
        {% for post in results %}
        <div class="link">{{post|safe}}
        </div>
        {% endfor %}
        {% endif %}
      </div>
      <div id="mobile">
        {% for post in results %}
        <div class="link">
{{post | safe}}
        </div>
        {% endfor %}
      </div>
      <script type="text/javascript" src="/tools.js"></script>
    </div>
</body>
</html>
