<!DOCTYPE HTML>
<html lang="en">
{% include "partials/header.html" %}
<body>
    <div id="page">
      <div id="header">
        <div class="report"><a href="/query">Mibana</a></div>
          <div class="search">
	        <form id="search_field" style="display: block">
              <input id="query" name="query" type="text" placeholder="Search">
	        </form>
          </div>
          <img src="/menu.svg" id="menu_icon" />
          <div class="select">
            <select id="collections">
              {% for collection in collections %}
              <option value="{{collection}}">{{collection}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      <div id="options">
	    <form id="projection_form" style="display: block" onsubmit="return false;">
          <input id="projection_input" name="projection_input" type="text" placeholder="Projection">
	    </form>
      </div>
      <div id="grid">
        {% if results | length == 0 %}
        {% else %}
        {% for post in results %}
        <div class="link">{{post|safe}}
        </div>
        {% endfor %}
        {% endif %}
      </div>
      <div id="mobile">
        {% for post in results %}
        <div class="link">
{{post | safe}}
        </div>
        {% endfor %}
      </div>
      <script type="text/javascript" src="/tools.js"></script>
      <script>
          const queryString = window.location.search;
          const urlParams = new URLSearchParams(queryString);
          const query = urlParams.get('query')
          const collection = urlParams.get('collection')
          const projection = urlParams.get('projection')
          document.getElementById("query").value = query
          document.getElementById("collections").value = collection
          document.getElementById("projection_input").value = projection
      </script>
    </div>
</body>
</html>
